.vn-tab-item {
  .label {
    font-family: "rubik";
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
  }
  i {
    font-size: 19px;
  }
}

.logo-icon {
  background: url("/assets/icons/logo.svg");
  height: 44px;
  width: 44px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.version {
  bottom: 0;
  left: 30px;
}
